<a href="https://colab.research.google.com/github/Younga93/Study/blob/master/Module01_wk01b_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*This notebooks was composed for COMP216 &copy;*
$\color{red}{\text{ narendra pershad}}$


---  

Everything in Python is an object.  
You may use the url to [visualize](http://pythontutor.com/visualize.html#mode=display) your code 
#**Python built-in data types**

1. None
2. [Numbers](#number)
   1. Integer
   2. Float
   3. Complex
   4. Boolean
   5. Fraction
   6. Decimal
3. [Sequences](#sequence)
   1. List
   2. String
   3. Tuples
   4. Set
4. [Mappings](#mapping)
   1. Dictionary

##1. None
Is used to define a null value, or no value at all. It is not the same as 0, False, or an empty string.  
Comparing None to anything except None will return False.  
Probable similar to the c# null value

In [ ]:
a = None
print(type(a))
print(a == False)     #False
print(a == True)      #False
print(a == '')        #False
print(a == None)      #True

name = 'Dinesh Balakrishnan'
print(f'My favourite student is {name}')

<class 'NoneType'>
False
False
False
True
My favourite student is Dinesh Balakrishnan

##2. <a name="number"></a>Numbers
Numbers are immutable. Same as string in C#.  

*Why do we say that numbers are immutable?  
When you perform an operation on a number, the result is computed and stored in a new location but accessed with the same variable. The value at the original location remains the same.*  

Python has four built-in number types and two other accessible via imports:
1. [Integers](#integer)

2. [Floats](#float)   

3. [Complex numbers](#complex)

4. [Booleans](#boolean)

5. [Fractions](#fraction) via import fraction

6. [Decimals](#decimal) via import decimal

###2.1 <a name="integer"></a>Integers
Integers are limited only by available memory.  
There is only one size (c# has: sbyte, byte, short, ushort, int, uint, long, ulong)

In [ ]:
#decimal literal
a = 11
print(type(a))
print(a)

#binary literal
b = 0b1011
print(b)

#octal literal
c = 0o13
print(c)

#hexadecimal
d = 0xb
print(d)

#Like C#, python allows underscores to make 
#number literals more readable
e = 1_100_000
print(e)
f = 0x_4_ad
print(f)

#Like C#, you may aslo use format specifier
print(f'{e:,}')

<class 'int'>
11
11
11
11
1100000
1197
1,100,000

In [ ]:
#demonstrate immutability of numbers
micheal = 10
print(id(micheal))
micheal = micheal + 1   #new variable is created with the same name
print(micheal)
print(id(micheal))

10914784
11
10914816

###2.2 <a name="float"></a>Float

In [ ]:
#some float literals
a = 3.1428
print(type(a))
print(a)        #3.12428
b = 10.
c = .001

#using exponent notation
d = 2.3e10
print(d)

e = 5.3e-10
print(e)

<class 'float'>
3.1428
23000000000.0
5.3e-10

###2.3 <a name="complex"></a>Complex number
Simlar to the mathematical concept of complex number

There is a real and an imaginary part

In [ ]:
#a complex MUST have atleast an imaginary part
a = 2j
print(type(a))
print(a)

b = 2+ 3.14j
print(b)

c = 2.178 - 4j
print(c)

#you may have an imaginary exponent
d = 2.15e100j
print(d)

e = 1.25e-3j
print(e)

####Arithmetic operations
#####ints and floats

In [ ]:
a = 1 + 3
print(a)

a = 10 / 2           #division always give a float
print(f'{a} -> {type(a)}')

a = 10 // 3          #integer division
print(f'{a} -> {type(a)}')

a = 10 * 2j           
print(type(a))

a = '11 ** 2'        #this is the exponentiation operator      
print(f'{a} -> {eval(a)}')

a = '25 ** 0.5'      #square root   
print(f'{a} -> {eval(a)}')


a = '64 ** (1/3)'    #cube root     
print(f'{a} -> {eval(a)}')

a = '81 ** 0.25'     #fourth root
print(f'{a} -> {eval(a)}')

a = '25 % 3'         #modulus operator
print(f'{a} -> {eval(a)}')

a = '6.13 % 3'
print(f'{a} -> {eval(a)}')

a = '25 % 4.1'
print(f'{a} -> {eval(a)}')

####Complex
Arithmetic operations like addition, subtraction, division, multiplication and exponentiation are supported.  
Math methods like ceiling, floor, sin, cos, tan, are not supported.

In [ ]:
a = '1j'
b = '(1+1.2j)'
c = '(2-3j)'
d = '(2+3j)'

print(f'{a} + {b} -> {eval(a + "+ " + b)}')

print(f'{a} - {b} -> {eval(a + " - " + b)}')

print(f'{c} * {d} -> {eval(c + " * " + d)}')

print(f'{c} / {b} -> {eval(c + " / " + b)}')

e = '0.5'

print(f'{a} ** {e} -> {eval(a + " ** " + e)}')

###2.4 <a name="boolean"></a>Booleans
There are only two possible literal value: **True** or **False**

However any python object can be tested for truth value. All of the following will be considered False:

  * None
  * False
  * Any zero numeric e.g. 0, 0.0, 0j
  * Any empty sequence e.g. '', {}, []

Everything else will be considered **True**

In [ ]:
a = None
print(f'{a} -> {type(a)}')
print(f'{a} -> {bool(a)}')

a = 0
print(f'{a} -> {bool(a)}')

a = 1
print(f'{a} -> {bool(a)}')

a = 0.
print(f'{a} -> {bool(a)}')

a = 3.14
print(f'{a} -> {bool(a)}')

a = ''
print(f'{a} -> {bool(a)}')

a = 'Hello'
print(f'{a} -> {bool(a)}')

a = []
print(f'{a} -> {bool(a)}')

a = [2, 3]
print(f'{a} -> {bool(a)}')

a = {}
print(f'{a} -> {bool(a)}')

a = {1: 'narendra', 2: 'pershad'}
print(f'{a} -> {bool(a)}')

a = ()
print(f'{a} -> {bool(a)}')

a = (4, 'comp216')
print(f'{a} -> {bool(a)}')

a = '10 + True'
print(f'{a} -> {eval(a)}')

###2.5 <a name="fraction"></a>Fractions  
Fractions hold a rational numerator and denominator in their lowest forms.  
This is not a built-in type because you have to do an import

In [ ]:
from fractions import Fraction
a = Fraction (2, 6)    #this in not in lowest form
print(type(a))
print(a)

b = Fraction(1, 12)
print(b)
c = a + b
print(f'{c} = {c.numerator} / {c.denominator}')

<class 'fractions.Fraction'>
1/3
1/12
5/12 = 5 / 12

###2.6 <a name="decimal"></a>Decimal  

Also this is not a built-in type because you have to do an import

In [ ]:
from decimal import Decimal as D
a = D(3.14)
print(type(a))
print(a)

a = '3.14'
print(a)

b = D(0.1)
print(b)

c = D(3)
print(c)

print(D('1.4').as_integer_ratio())

##3. <a name="sequence"></a>Sequences
1. Immutable Sequences
  1. [String](#string)
  2. [Tuple](#tuple)
2. Mutable Sequences  
  1. [List](#list)
  2. [Set](#set)

###3.1.1 <a name="string"></a>String
A string is delimited by single quotes, double quotes, triple single quotes or triple double quotes.  

All strings are unicode string.  

N.B. Unlike most modern languages, python does not have a char type

In [ ]:
# personally I prefer single quotes
a = 'to be \t or not \n to be'        
a

'to be \t or not \n to be'

In [ ]:
# I use double quotes because it need the single quote in the string
a = "Narendra's toys"
a

"Narendra's toys"

In [ ]:
# triple quotation is convenient for multiple line string
a = '''
    this is a multiple
    line string.

    And some more text
    '''
a

'\n    this is a multiple\n    line string.\n\n    And some more text\n    '

In [ ]:
#notice the use of the line continuation symbol
#it is illegal to put ANY character after the slash
a = 'first line '\
'second line '\
'third line'
a

'first line second line third line'

You may specify non-keyboard character via hexcode

In [ ]:
a = '\u00c4\u00e8'          #four digit hex value
print(a)

a = '\U000000c4\U000000e8'  #eight digit hex value
print(a)

Äè
Äè

###3.11 Binary String
Binary strings are used for image files and sockets

In [ ]:
a = 'Normal string'
print(type(a))
print(a)
print(list(a))

b = b'Binary string'
print(type(b))
print(b)
print(list(b))

<class 'str'>
Normal string
['N', 'o', 'r', 'm', 'a', 'l', ' ', 's', 't', 'r', 'i', 'n', 'g']
<class 'bytes'>
b'Binary string'
[66, 105, 110, 97, 114, 121, 32, 115, 116, 114, 105, 110, 103]

####Some string operations

In [ ]:
c = 'the quick brown fox jumps over the lazy dog'
print(c.split())         #returns a list by splitting on ' ' 

print(c.upper())         #returns a string with all the letters upper cased

print(c.capitalize())    #the first letter of each word in upper-cased

print(c.title())

d = c.replace(' ', ':')  #replaces ' '  with ':'

print(d)

print(d.split(':'))     #returns a list by spiltting on ':'

print(d.find('dog'))    #returns the position of the argument

a = '''
    this is a multiple
    line string.

    And some more text
    '''

for line in a.splitlines():
  print(line)

a = '     and a funny name Ståle    '

print(a.encode())       #       

print(a.strip())        #removes the leading and the trailing spaces

print(a)

print(a.partition('funny'))#a three item tuple
                         #-> the part before the pivot
                         #-> the pivot and
                         #-> the part after the pivot

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
The quick brown fox jumps over the lazy dog
The Quick Brown Fox Jumps Over The Lazy Dog
the:quick:brown:fox:jumps:over:the:lazy:dog
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
40

    this is a multiple
    line string.

    And some more text

b'     and a funny name St\xc3\xa5le    '
and a funny name Ståle
     and a funny name Ståle
('     and a ', 'funny', ' name Ståle    ')

####Conversion from character to ascii and back

In [ ]:
e = 'A'
print(f'The ascii of {e} is {ord(e)}')

e = 70
print(f'The letter that corresponds to {e} is "{chr(e)}"')

The ascii of A is 65
The letter that corresponds to 70 is "F"

###3.1.2 <a name="tuple"></a>Tuples
An immutable heterogenous collection of python objects

In [ ]:
a = (0, 1, 2, 3, 4, 'five', 'six', ['nested', 'list'])
print(type(a))
print(a)
print(len(a))         #number of items in the sequence
print(a[5])           #the sixth item 
print(a[-1])          #the last item
print(a[-2])          #second from last

                      #following operations are also called slicing
print(a[:3])          #all items before the third item
print(a[5:])          #all items from 5 to the end
print(a[1:3])         #from second to the third item

<class 'tuple'>
(0, 1, 2, 3, 4, 'five', 'six', ['nested', 'list'])
8
five
['nested', 'list']
six
(0, 1, 2)
('five', 'six', ['nested', 'list'])
(1, 2)

Unpacking is a common operation on sequences

In [ ]:
stoges = ('larry', 'curly', 'moe', 'shemp', 'joe')
l, c, m, s, j = stoges
print(l, c, m, s, j)

#if we are not interested in shemp
l, c, m, _, j = stoges
print(l, c, m, j)

#if we are only interested in the first three
l, c, m, *rest = stoges
print(l, c, m, rest)

#if we want to ignore all but the first three
l, c, m, *_ = stoges
print(l, c, m)

#if we are only interested in the first and last
l, *foo, j = stoges
print(l, foo, j)

#if we want to ignore all but the first and last
l, *_, j = stoges
print(l, j)

larry curly moe shemp joe
larry curly moe joe
larry curly moe ['shemp', 'joe']
larry curly moe
larry ['curly', 'moe', 'shemp'] joe
larry joe

###3.2.1 <a name="list"></a>List
A list is a mutable heterogenous collection that is enumerable

In [ ]:
#manually specifing the items in a list
a = [0, 1, 2, 3, 4, 'five', 'six', ['nested', 'list']]
print(type(a))
print(a)
print(len(a))         #number of items in the sequence
print(a[5])           #the sixth item

                      #following operations are called slicing
print(a[:3])          #all items before the third item
print(a[5:])          #all items from 5 to the end
print(a[1:3])         #from second to the third item
print(a[-1])          #the last item
print(a[-2])          #second from last

b  = [1, 2, 3, 4]
c = [5, 4]
#creating a list by adding two lists
d = c + b             #pool all the items in c and b into a new list
print(d)
#creating a list by multiplying a list by a scalar
print(c * 3)          #triple the items in c into a new list

#by using the split method
d = "Love means never having to say you're sorry.".split()
print(type(d))
t = ('mary', 'had', 'a', 'little', 'lamb')
d = list(t)           #creating a list from a tuple
print(type(a))

print('\ntraversing by indexing')
#traversing by indexing
#similar to a for loop
for i in range(len(d)):
  print(d[i], end=' ')

print('\n\ntraversing by enumerating')
#traversing by enumerating
#sinilar to a foreach loop
for x in d:
  print(x, end=' ')

<class 'list'>
[0, 1, 2, 3, 4, 'five', 'six', ['nested', 'list']]
8
five
[0, 1, 2]
['five', 'six', ['nested', 'list']]
[1, 2]
['nested', 'list']
six
[5, 4, 1, 2, 3, 4]
[5, 4, 5, 4, 5, 4]
<class 'list'>
<class 'list'>

traversing by indexing
mary had a little lamb

traversing by enumerating
mary had a little lamb

In [ ]:
#traversing by indexing
#similar to a for loop
for i in range(len(d)):
  print(d[i], end=' ')

mary had a little lamb

###3.2.2 <a name="set"></a>Set
A mutable hetereogenous collection of unique python objects

A set may not have a list or dictionary or a nested set as one of its member

Sets does not support indexing

In [ ]:
a = {0, 1, 2, 3, 4, 'five', 'six', 0, 3}
print(type(a))
print(a)              #duplicate items 0 and 3 are removed
print(len(a))         #number of items in the sequence
#print(a[0])          #this does not work

print(id(a))
print('Items: ', end='')
for x in a:
  print(x, end=', ')

a.add(30)
print('\n', len(a))
print(id(a))

##4. <a name="mapping"></a>Mapping
###<a name="dictionary"></a>Dictionary
A collection of key-value pairs.  
Each key must be unique and immutable such as strings, number or tuples. A list may not be a key.  
Does not support indexing.  
A dictionary is almost like a json object

In [ ]:
a ={ 'red': 'Danger', 1: 'first', 'second': 2, ('a', 'set'): 'a tuple is my key'}

print(type(a))
print(a)
print(len(a))            #number of items in the sequence
print(a['red'])          #the value pair of red
print(a[('a', 'set')])   #the value pair of ('a', 'set')

print('Keys: ', end='')
for k in a.keys():       #iterating the keys
  print(k, end= ', ')

print('\n\nValues: ', end='')
for v in a.values():     #iterating the values
  print(v, end= ', ')

print('\n\nkey and values:')
for k, v in a.items():   #iterating the pairs
  print(f'{k}: {v}')

####Other ways of creating a dictionary

In [ ]:
a = dict(zip(['ilia', 'hao', 'yin'], ['Ilia Nika', 'Hao Lac', 'Yin Li']))
print(a)

b = dict([('arben', 'patrick'),('Arben Tapia','Patrick Gignac')])
print(b)

c = dict(nar='Narendra Pershad', joanne='Joanne Filotti')
print(c)

###Some non-mutating operation on sequences
####Indexable sequences (list, strings)

In [ ]:
#list and string are indexable
a = 'the quick brown fox jumps over the lazy dog'
for i in range(len(a)):
  print(f'{a[i]}', end=' ') #the second optional argument determines 
                            #the end char.
                            #the default is the newline character


print('\n')                 #a new line for separation of the display
b = a.split()
for i in range(len(b)):
  print(f'{i} {b[i]}')

c = tuple(a)
print('\n')                 #a new line for separation of the display
for i in range(10):         #prints the first 10 items
  print(f'{i} {c[i]}')

####Non-indexable sequences (sets, dictionary)

In [ ]:
a = 'the quick brown fox jumps over the lazy dog'
b = set(a)                   #creates a set (removing the duplicates)
#print(b)

print('\n')                 #a new line for separation of the display 
d = {'http': 80, 'telnet': 23, 'dns': 53, 'dhcp': 67, 'ssh': 22, 'smtp': 25}
for key in d.keys():
  print(f'{key} operates on port {d[key]}')

These non-mutating operations work on both indexable and non-indexable sequenecs.

In [ ]:
a = [5, 3, 2, 7, 13, 11]

to_find = 7
print(f'{to_find} is a position {a.index(to_find)}')

for x in sorted(a):         #sorted returns a sorted iterator object
  print(f'{x}', end=' ')    #displays each item separated by a space
print('\n')
print(a)                    #a is unchanged

for x in reversed(a):       #reversed returns a flipped iterator object
  print(f'{x}', end=' ')
print('\n')
print(a)                    #a is unchanged


a = 'mary had a little lamb'.split()
#this is actually a string function
print(''.join(a))          #all of the following methods returns a new string
print(', '.join(a))
print('\t'.join(a))
print('\n'.join(a))

Some mutating operations on sequences.  
All of these operations changes the sequence.  
The methods may or may not return a value

In [ ]:
a = [4, 6, 'third', {2, 3}]
print(a)

print(a.count(4))            #returns the number of occurences of the argument
print(a.count(2))            #returns 0 (there is no zero in the list)

print(a.pop())               #remove the last item
print(a.pop(1))              #removes the second item
print(a)                     #show what is left of the collection

a.append('last item')        #adds a new item to the end 
print(a)

a.insert(1, 'second item')   #insert an item in the second spot
print(a)

a.remove('third')            #remove the third item
print(a)

poem = 'mary had a little lamb its fleece was as white as snow'.split()
poem.reverse()               #reverses the sequence
print(poem)

poem.sort()                  #sorts the sequence
print(poem)

poem.clear()                 #removes all the items from the sequence
print(poem)

##Enum
Enums is not a built-in type, because you have to import it

In [ ]:
from enum import Enum

class TrafficLight(Enum):
  GREEN = 1
  YELLOW = 2
  RED = 4

print(TrafficLight.GREEN)
print(TrafficLight.__members__)

# help(TrafficLight)

TrafficLight.GREEN
OrderedDict([('GREEN', <TrafficLight.GREEN: 1>), ('YELLOW', <TrafficLight.YELLOW: 2>), ('RED', <TrafficLight.RED: 4>)])